%button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-width: 0;
  border-color: transparent;
  border-style: solid;
  line-height: 1;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  appearance: none;
  box-sizing: border-box;
  box-shadow: none;
  transition: all 0.2s ease;
  &:hover {
    filter: brightness(105%);
  }
  &:disabled {
    cursor: not-allowed;
    filter: none;
  }
}

.btn {
  @extend %button-base;

  // color
  &-primary {
    color: var(--color-gray-100);
    background-color: var(--color-primary);
    &:disabled {
      color: var(--color-white);
      background-color: var(--color-gray-40);
    }
  }
  &-gray {
    color: var(--color-gray-80);
    background-color: var(--color-gray-20);
  }

  // size
  &-lg {
    gap: 0.5rem;
    height: 4rem;
    font-size: var(--text-lg);
    font-weight: 700;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: var(--radius-lg);
  }
  &-md {
    gap: 0.375rem;
    height: 3rem;
    font-size: var(--text-md);
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--radius-md);
  }
  &-sm {
    gap: 0.25rem;
    height: 2rem;
    font-size: var(--text-sm);
    font-weight: 600;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: var(--radius-sm);
  }
  &-xs {
    gap: 0.125rem;
    height: 1.25rem;
    font-size: var(--text-xs);
    font-weight: 600;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: var(--radius-xs);
  }

  // block
  &-block {
    display: flex;
    width: 100%;
  }
}
