@font-face {
  font-family: "Pretendard Variable";
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
  src: url(PretendardVariable.woff2) format("woff2-variations");
}
@font-face {
  font-family: "Pretendard Variable";
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
  src: url(PretendardVariable.ttf) format("truetype");
}
