@import "tailwindcss";

:root {
  html {
    font-size: 16px;
  }
  
  body{
    font-family: var(--default-font-family);
  }
}

@theme {
  --color-gray-6: #ccc;
  --color-redd: #ff0000;
  --color-bluee: #0000ff;
  --text-h1: 3rem;
  --radius-xs: 1rem;
  --default-font-family: "Pretendard Variable", sans-serif;
}

/* @media (prefers-color-scheme: dark) {} */